body {
	background-color: mintcream;
}

.name {
	display: flex;
	justify-content: space-around;
}

.blurb {
	/*want to change this so it always takes up the height of the first screen*/
	height: 500px;
}

.about {
	max-width: 900px;
	margin: 20px auto;
}

.feature {
	min-height: 400px;
}

.feature-long {

	background-color: blue;
}

.multi {
	display: flex;
	flex-wrap: wrap;
}

.feature-short {
	width: 100%;
	background-color: red;
	border: 1px solid white;
}

@media(min-width:1020px){
	.feature-short {
		width: 50%;
	}
}