body {
	background-color:#F8F8FF;
}

p {
	font-family: comfortaa;
	font-size: 1.2em;
	line-height: 1.7em;

}


/*progress bar*/
.progressContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  /*night*/
  background-color:#072A24;
  z-index: 999;
}
.progress{
  height: 25px;
  /*blush*/
  background:#FEC0c1;
  width: 0;
  transition: width 0.5s;
  border-radius: 0px;
}



.name {
	display: flex;
	justify-content: space-around;
	margin-top: 3%;
}

.blurb {
	/*want to change this so it always takes up the height of the first screen*/
	height: 500px;
}

.about {
	max-width: 900px;
	margin: 20px auto;
}

.feature {
	min-height: 400px;
}

.feature-long {
	/*JUNIPER*/
	background-color: #689C97;
}

.multi {
	display: flex;
	flex-wrap: wrap;
}

.feature-short {
	width: 100%;
	/*succulent*/
	background-color: #7FB174;
	border: 1px solid white;
}

.feature-1 {
	background-image: url('/images/women-new.jpg');
}

@media(min-width:1020px){
	.feature-short {
		width: 50%;
	}
}